# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.venv/
.idea
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
api/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

frontend/node_modules/
api/__pycache__/
trainer/
test/final_lstm_20251113_124137.keras
test/sector_model_v7_UNIVERSAL_20251113_063532.joblib
test/macro_features.parquet
test/ticker_sentiment_scores (1).parquet