# Core App
streamlit
pydantic

# ML & Data
tensorflow-cpu  # <-- This is the critical fix
pandas
scikit-learn
pandas_ta @ https://www.pandas-ta.dev/assets/zip/pandas_ta-0.3.14b.tar.gz#sha256=0fa35aec831d2815ea30b871688a8d20a76b288a7be2d26cc00c35cd8c09a993
yfinance
plotly
altair

# Database & Auth
pymongo
bcrypt
passlib